<div class="container activity-main">
  <div class="row p-1">
    <div style="font-size:13px;" class="text-muted">
      About
    </div>
  </div>
  <div class="row p-1">
    <div >
      Website: <span class="text-about-link">www.pollyfy.com/tom.shaffir</span>
    </div>
  </div>
  <div class="row p-1">
    <div >
      Created at: <span class="text-about-link">5 dec 2020</span>
    </div>
  </div>
  <div class="row p-1">
    <div >
      Info: <span class="text-about-link">Fullstack developer</span>
    </div>
  </div>
  <div class="row p-1">
    <div >
      Admins: <span class="text-about-link">Self</span>
    </div>
  </div>
  <div class="row p-1">
    <div >
      Location: <span class="text-about-link">Tel Aviv, Israel</span>
    </div>
  </div>
</div>

<div class="container activity-main mt-4">
  <div class="row ">
    <div style="width: 100%;" class="btn-group d-flex align-content-center justify-content-center" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-secondary btn-sm">Last day</button>
      <button type="button" class="btn btn-outline-secondary btn-sm">Last week</button>
      <button type="button" class="btn btn-outline-secondary btn-sm">Last month</button>
    </div>
  </div>
  <div class="row p-1">
    <div style="font-size: 11px;" >
     <span class="count-about">{{activePollsCount}}:</span>  <span class="text-about-link ml-1">Active Polls</span>
    </div>
  </div>
  <div class="row p-1">
    <div style="font-size: 11px;" >
      <span class="count-about">{{createdPollsCount}}:</span> <span class="text-about-link ml-1">Created polls</span>
    </div>
  </div>
  <div class="row p-1">
    <div style="font-size: 11px;" >
      <span class="count-about">{{sharedPicksCount}}:</span> <span class="text-about-link ml-1">Shared picks</span>
    </div>
  </div>
  <div class="row p-1">
    <div style="font-size: 11px;" >
      <span class="count-about">{{votesCount}}:</span> <span class="text-about-link ml-1">Votes count</span>
    </div>
  </div>
</div>
