<div class="container ">
  <div class="row  p-4">
    Would you like to enhance your connection with your customers?Help us pick the best plugin that will help us
    integrate your other channels with Pollyfy!
  </div>
  <div   class="row no-gutters">
    <div class="col-6">
      <img class="w-100"  src="../../../../assets/car-1.jpg" alt="" srcset="">
    </div>
    <div class="col-6">
      <img class="w-100"   src="../../../../assets/car-2.jpg" alt="" srcset="">
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-6">
      <img class="w-100"   src="../../../../assets/car-3.jpg" alt="" srcset="">
    </div>
    <div class="col-6">
      <img class="w-100"   src="../../../../assets/car-4.jpg" alt="" srcset="">
    </div>
  </div>
</div>
