<div class="container mt-2">
  <div class="row p-2 d-flex justify-content-between">
    <div class="row ml-2 d-flex">
      <div class="profile-img" style="background-image: url('../../../assets/Untitled.jpg');"></div>
      <div class="row d-flex flex-column ml-2 justify-content-center">
        <div>
          Tom Shaffir
        </div>
        <div style="font-size: 10px;">
          time ago - privacy
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-content-center align-self-center">
      <div class="d-flex align-self-center" >
        Time left
      </div>
      <div>
        <img style="width: 20px;cursor: pointer;" src="../../../../assets/more.svg" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
