.container{
  background-color: white;
  box-shadow:  2px 3px 5px 1px #9f9f9f;
  font-weight: 600;
  font-size: 13px;
}

.fa-pencil-square{
  font-size: 2em;
  color: rgb(171, 171, 171);
}

i{
  font-size: 2em;
}

.fa-balance-scale{
  color: green;
}

.fa-sort-amount-asc{
  color: rgb(245, 225, 43);
}

hr{
  margin: 2px !important;
}
