<div class="container mt-2">
  <div class="row pt-2 p-1 d-flex  align-content-center">
    <div class="ml-5">
      <i class="fa fa-pencil-square"></i>
    </div>
    <div class="ml-2 mt-1 text-muted">
      <span>What decision need to take?</span>
    </div>
  </div>
  <hr>
  <div class="row p-1">
    <div  class="col text-muted d-flex mb-3 justify-content-center">
      <i style="color: rgb(49, 49, 204);" class="fa fa-bar-chart mr-1" aria-hidden="true"></i>
      Choices
    </div>
    <div  class="col text-muted d-flex justify-content-center">
      <i class="fa fa-balance-scale mr-1"></i>
      Yes/No
    </div>
    <div  class="col text-muted d-flex justify-content-center">
      <i class="fa fa-sort-amount-asc mr-1"></i>
      Ranking
    </div>
  </div>
</div>
