<div class="container activity-main">
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-user-circle mr-1"></i>
      <div class="activity-text">
        Profile
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-home mr-1"></i>
      <div class="activity-text">
        Home
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-compass mr-1"></i>
      <div class="activity-text">
        Explore
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-heartbeat mr-1"></i>
      <div class="activity-text">
        Activities
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-bell mr-1"></i>
      <div class="activity-text">
        Notifications
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-envelope mr-1"></i>
      <div class="activity-text">
        Messages
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-chevron-circle-down mr-1"></i>
      <div class="activity-text">
        More
      </div>
    </div>
  </div>
</div>

<div class="container activity-main mt-2">
  <div class="row activity-row-select">
    <div class="col advanced-text text-muted d-flex justify-content-start align-items-center">
      Advanced
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <img class="bar-chart" src="../../../assets/bar-chart.svg" alt="">
      <div class="activity-text ml-1">
        Analytics
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-external-link mr-1 fa-arrow-box"></i>
      <div class="activity-text">
        Poll View
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <img class="bar-chart" src="../../../assets/line-chart.svg" alt="">
      <div class="activity-text ml-1">
        Campaigns
      </div>
    </div>
  </div>
  <div class="row activity-row-select">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fa fa-suitcase mr-1"></i>
      <div class="activity-text">
        Activities
      </div>
    </div>
  </div>
</div>
