<div class="container">
  <div class="row d-flex ">
    <div class="p-2 m-1" >
      Expiration All <i class="fa fa-caret-down"></i>
    </div>
    <div class="p-1 m-1 d-flex justify-content-center align-content-center">
      <div class="custom-control custom-switch d-flex justify-content-center align-content-center">
        <input type="checkbox" class="custom-control-input" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Final picks</label>
      </div>
    </div>
    <div class="p-1 m-1 d-flex justify-content-center align-content-center">
      <div class="custom-control custom-switch d-flex justify-content-center align-content-center">
        <input type="checkbox" class="custom-control-input" id="customSwitches1">
        <label class="custom-control-label" for="customSwitches1">Voted by you</label>
      </div>
    </div>
    <div style="float: right;" class="p-2 m-1 float-right" >
      Sort by Relevance <i class="fa fa-caret-down"></i>
    </div>
  </div>
</div>
