.container{
  background-color: white;
  box-shadow:  2px 3px 5px 1px #9f9f9f;

}

body{
  font-size: 10px;
}

div{
  font-size: 12px;
  font-weight: 700;
}

label{
  display: flex;
  align-items: center;
}
